/*Angel's File*/
:root{
    background-color: antiquewhite;
}
body{
    margin: 0px 0px 0px 0px;
}
header{
    background-color: rgba(15, 106, 167, 0.341);
    padding-top: 10px;
    border: 5px double black;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
h1{
    font-family: Mogra, serif;
    padding-left: 5px;
}
nav{
    overflow: hidden;
    padding-right: 5x;
}
ul{
 
    font-size: larger;
    padding-right: 15px;
    display: flex;
    order: 5;
}
.menu_nav_item{
    display: inline-block;
    font-family: "Luminari", serif;
    margin: auto;
    border: 2px groove black;
    padding: 5px 0px 5px 0px;
    margin: 0px 10px 0px 10px;
}
a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
a:hover{
    background-color: rgba(167, 15, 144, 0.341);
    color: #FFFFFF;
}
h2{
    font-size: 60px;
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-family: "Rubik Dirt", serif;
    font-weight: 300;
}
img{
    width: 25%;
    height: auto;
    border: groove;
}
.img_text{
    display: inline-flex;
    margin-bottom: 50px;
    border: 1px solid gray;
}
.img_details{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.item_name{
    margin: 0px 0px 0px 10px;
    font-size: 40px;
    text-decoration: underline;
}
.item_desc{
    margin-left: 40px;
    width: 600px;
    font-family: "Special Elite", serif;
    line-height: 1.6;
}
.item_price{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.shop{
    height: 50px;
    display: flex;
    width: 10pc;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 5pc;
}

.shop div{
    display: flex;
}

.shop select{
    width: 6pc;

}
.shop label{
    width: 4pc;
}
